body {
    text-align: center;
    color: palette(black);
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: TiemposText, Georgia, Times, serif;
}

html {
    background-color: palette(pink);
}

.hide {
    display: none;
}

.toggler {
    margin-top: 2.5rem;
}