body {
    font-family: font-family-of($serif);
}

h1 {
    @include typeset($serif, 16px, 20px, 0, 1);
    font-weight: normal;
}

h2 {
    @include typeset($serif, 18px, 24px, 0, 1);
    font-weight: bold;
}

a {
    font-weight: bold;
    color: palette(purple);
}

p {
    @include typeset($serif, 18px, 24px, 0, 1);
}