.button {
    background-color: palette(purple);
    color: white;
    border: 0 none;
    padding: 0.625em 1em;
    font-size: 0.775rem;
    position: relative;
    top: 0.05em;
    font-family: font-family-of($serif);
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    -webkit-appearance: none;
    appearance: none;

    &:hover {
        background-color: darken(palette(purple), 10%);
    }
}

a.button {
    padding: 0.55em 1.25em 0.7em;;
}
