.page {
    background-color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    // padding-bottom: 42%;
    position: relative;

    @include min-width(1) {
        border: 0.5rem solid palette(pink);
        border-bottom: 0 none;
    }
}