{% extends "base.html" %}

{% set pageName = "Copywrong" %}

{% block content %}
    <header class="header">
        <div class="header__content">
            <h1><strong>Copywrong to copywriter</strong> is a practical guide to copywriting for small businesses, small organisations, sole traders and lone rangers.</h1>
            <p>Tait Ischia</p>
        </div>
    </header>

    <div class="content">
        <p>Copywrong to copywriter is a handbook for anyone who feels like they can’t write to save themselves.</p>
        <p>If you think you’ve got the wrong tone of voice, don’t understand the ins-and-outs of grammar or just don’t feel confident writing about yourself without sounding like an idiot, read this book.</p>

        <p><a href="#sounds-cool">Sounds cool. Tell me more. &raquo;</a></p>
        <div class="hidden" id="sounds-cool">
            <h2>Sounds cool. Tell me more.</h2>
            <p>I'm self-publishing it, so It’s not printed yet. I need your help to make it real.</p>
        </div>

        <p><a href="#how-can-i-help">How can I help?</a></p>
        <div class="hidden" id="how-can-i-help">
            <h2>How can I help?</h2>
            <p>Buy a pre-sale copy. <br>I need to sell 200 copies to cover the printing costs. <br>Sales open 1 May, 2016.</p>
        </div>

        <p><a href="#can-you-remind-me">Can you remind me?</a></p>
        <div class="hidden" id="can-you-remind-me">
            <h2>Buy a pre-sale copy.</h2>
            <p>Sure. Sign up to this email. <br>You’ll be the first to know.</p>

            <form action="">
                <input type="text" placeholder="Your email here">
                <button class="button">Join</button>
            </form>

            <p>Send your spam to <br><a href="mailto:tait@copygui.de">tait@copygui.de</a></p>
        </div>
    </div>
{% endblock %}
