<footer class="footer hide">
    <div class="content">
        <img src="images/tait.png" alt="An illustration of Tait's majestic face" class="face">
        <p>I’m a copywriter and content strategist from Melbourne, Australia. I’ve been writing copy since 2007.</p>
        <p class="small">Illustrations and web design by <a target="_blank" href="http://jeanes.co/">Jacob Zinman-Jeanes</a> <br>
        Book design by <a target="_blank" href="http://listofworks.info/">Tristan Main</a></p>
    </div>
</footer>

<img src="images/book.png" alt="An excerpt from Copywrong to copywriter" class="book">