<footer class="footer">
    <img src="images/tait.png" alt="An illustration of Tait's majestic face" class="face">
    <p>I’m a copywriter and content strategist from Melbourne, Australia. I’ve been writing copy since 2007.</p>
    <p>When I started out, I wrote radio, print and TV ads. Now I plan, write and manage complex websites for big organisations.</p>
    <p>I’ve worked for gigantic multinationals, small businesses, arts organisations, ad agencies, startups and the government.</p>
    <p>I’ve also been copywriting long enough to know most biographies tell you very little about a person. This one is no exception.</p>
    <p class="small">Illustrations and web design by <a href="#">Jacob Zinman-Jeanes</a> <br>
    Book design by <a href="#">Tristan Main</a></p>

    <img src="images/book.png" alt="An excerpt from Copywrong to copywriter" class="book">
</footer>