{% macro render(title='Page title') %}
<!--[if lte IE 7]>      <html lang="en-AU" class="no-js lte-ie9 lte-ie8 lte-ie7 no-mediaqueries legacy"> <![endif]-->
<!--[if IE 8]>          <html lang="en-AU" class="no-js lte-ie9 lte-ie8 no-mediaqueries legacy"> <![endif]-->
<!--[if IE 9]>          <html lang="en-AU" class="no-js lte-ie9"> <![endif]-->
<!--[if gte IE 9]>      <html lang="en-AU" class="no-js"> <![endif]-->
<!--[if !IE]> -->       <html lang="en-AU" class="no-js"><!-- <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <title>{{ title }}</title>

        {% include "partials/favicons.html" %}

        <meta property="og:title" content="Copywrong to copywriter">
        <meta property="og:description" content="Copywrong to copywriter is a handbook for anyone who feels like they can’t write to save themselves.">
        <meta property="og:url" content="http://copygui.de/">
        <meta property="og:image" content="http://copygui.de/images/opengraph.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@TaitIschia" />

        <script src="scripts/modernizr.js"></script>

        <link rel="stylesheet" href="styles/screen.css">

    </head>
{% endmacro %}
